.skills {
    padding: 0 0 50px 0 ;
    position: relative;
    margin: 10%;

}
.skill-bx{
    background-color: #151515;
    background-color: #000000da;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;

}

.skills .mainHeader{
    font-size: 45px;
    font-weight: 700;
}
.skills p{
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.5em;
    font-weight: 400;
    text-align: center;
    margin: 14px 0 75px 0 ;
}

.skill-slider{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.skills .item img{
    width: 50%;
    margin: 0 auto 15px auto;
}

/* .back-img {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  } */